@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared styles */
.display-flex{
    display: flex;
}
.dark-01{
    color: #131313;
}
.dark-02{
    color: #424242;
}
.dark-03{
    color: #727272;
}
.dark-04{
    color: #A1A1A1;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.features-color{
    color:#FF900E;
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;

}
main,footer{
      max-width: 1440px;
      margin: 0 auto;
}

/* Header styles */


/* Navbar Styles */
.brand{
    font-weight: 800;
    font-size: 3rem;
}
.navbar{
    
    justify-content: space-between;
    align-items: center;
}
.nav-links{
   
    
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    max-width: 861px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 800;
    font-size: 4rem;
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
}
.banner-image{
    width: 100%;
}


/* Team-section-style */
.team-work-section{
    display: flex;
    align-items: center;
    margin-top: 85px;
  
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
    border-radius: 8px;

}
.team-image{
    max-width: 342px;
    max-height: 342px;
}

.team-description-container{

    margin-left: 73px;
}
.team-title{
    font-size: 3rem;
}
.team-description{
    font-size: 1rem;
    font-weight: 400;
}


/* Feature-style */

.feature-section{
    display: flex;
    margin-top: 150px;
    column-gap: 7%;
}


.feature-title{
    border-left: 4px solid #FF900E;
    padding-left: 20px;
    font-size: 3rem;
    font-weight: 800;
    
}
.feature-description
{
    width: 586px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.feature-card-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 20px;
}
.feature-card{
    width: 586px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 30px
}
.card-title{
    font-size: 1.25rem;
    font-weight: 600;

}
.card-description{
    font-size: 1rem;
    font-weight: 400;

}

.ten-year{
    font-size: 4rem;
    font-weight: 800;
}
.experience{
    font-size: 1.4rem;
    font-weight: 500;
}

.movable{
    position: relative;
}

.feature-btn{
   
    top:-97px;
    left:-77px;

}


/* Fact style */
.fact-section{
    margin-top: 130px;
}
.fact-title{
    font-size: 3rem;
    font-weight: 800;

}
.fact-description
{
    width: 542px;
    font-size: 1rem;
    font-weight: 400;
}
.fact-icon-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    margin-top: 100px;

}
.fact-icon-box{
    border: 2px solid #FF900E;
    padding: 45px 35px;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;

}
.fact-description{
    font-size: 1.25rem;
    font-weight: 600;
   
}

/* Sponsor-style */
.sponsor-section{
    margin-top: 180px;
    margin-bottom: 130px;
}
.sponsor-content-container
{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.sponsor-title{
    font-size: 2.8rem;
    font-weight: 800;


}
.sponsor-description{
    font-size: 1rem;
    font-weight: 400;
    max-width: 542px;
    margin: 0 auto;
 
    

}
.sponsor-image-container{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 50px;
    gap:30px;
    align-items: center;
    justify-items: center;
}

/* Footer */
.footer-container
{
    background-color: #FFF4E7;
    padding: 39px 410px;
    margin-bottom: 216px;
    
    
}
.footer-text{
   font-size: 1.20rem;
   font-weight: 400;
   
}



/* Media Query */
@media screen and (max-width: 576px) {

    .navbar,.nav-links,.team-work-section,.feature-section{
        flex-direction: column;
    }
    .banner-title{
        font-weight: 600;
        font-size: 2rem;
    }
    .team-image-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .feature-title{
    border-left: 4px solid #FF900E;
    padding-left: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    
}
.feature-content-container{
    width: 100%;
    margin: 0 auto;
}
.feature-card-container{
    width:100%;
    margin: 0 auto;
    
}
.feature-description
{
    width: 100%;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.feature-card{
    width: 100%;
    max-width: 100%;
    padding: 20px;
}
.card-title{
    font-size: 1rem;
    font-weight: 500;

}
.card-description{
    font-size: 0.9rem;
}
.card-img{
    width: 100%;
}
.ten-year{
    font-size: 1.2rem;
    font-weight: 600;
}
.experience{
    font-size: 1rem;
    font-weight: 400;
}
.feature-btn{
   
    top:-30px;
    left:10px;

}

.fact-description
{
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
}
.fact-content-container{
   display: flex;
   justify-content: center;
   align-items: center;
}
.fact-icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    margin: 0 auto;
    

}
.fact-icon-box{
    margin-bottom: 15px;
}


.sponsor-section{
    margin-top: 100px;
    padding: 0 20px;
}

.sponsor-content-container{
    width: 100%;

}
.sponsor-title{
    font-size: 1.8rem;
    font-weight: 600;


}
.sponsor-description{
    font-size: 0.9rem;
    width: 100%;
    max-width: 100%;
}
.sponsor-image-container{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    gap:30px;
    margin-top: 50px;
    align-items: center;
    justify-items: center;
    width: 100%;
}
.sponsor-logo-box{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sponsor-icon{
        max-width: 120px;
        width: 100%;
        height: auto;
    }




}